.bodyDiv{
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 0 !important;
}
.button{
  padding: 5px;
}
.buttonsDiv{
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
