<div class="body">

    <div class="documentsForProcess">
      <p>Documents for process</p>
      <div class="tableWrapper">
        <table>
          <thead>
            <tr>
              <th class="dossierId">Dossier Identification</th>
              <th class="fileName">File Name
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="dossierId">VALUEEEEEEE</td>
              <td class="fileName"> AAAAAAAAAAAAAAAAAAAAAAA01.PDF</td>
            </tr>
            <tr>
              <td class="dossierId">VALUEEEEEEE</td>
              <td class="fileName"> AAAAAAAAAAAAAAAAAAAAAAA01.PDF</td>
            </tr>
            <tr>
              <td class="dossierId">VALUEEEEEEE</td>
              <td class="fileName"> AAAAAAAAAAAAAAAAAAAAAAA01.PDF</td>
            </tr>
            <tr>
              <td class="dossierId">VALUEEEEEEE</td>
              <td class="fileName"> AAAAAAAAAAAAAAAAAAAAAAA01.PDF</td>
            </tr>
            <tr>
              <td class="dossierId">VALUEEEEEEE</td>
              <td class="fileName"> AAAAAAAAAAAAAAAAAAAAAAA01.PDF</td>
            </tr>
            <tr>
              <td class="dossierId">VALUEEEEEEE</td>
              <td class="fileName"> AAAAAAAAAAAAAAAAAAAAAAA01.PDF</td>
            </tr>
            <tr>
              <td class="dossierId">VALUEEEEEEE</td>
              <td class="fileName"> AAAAAAAAAAAAAAAAAAAAAAA01.PDF</td>
            </tr>
            <tr>
              <td class="dossierId">VALUEEEEEEE</td>
              <td class="fileName"> AAAAAAAAAAAAAAAAAAAAAAA01.PDF</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="options">
      <div class="searchDiv">
        Dossier Identification: <input type="text" /> <button>Search</button>
      </div>
      <div class="docButtons">
        <button disabled>Add Document</button><button disabled>Remove Document</button><button disabled>Submit</button>
      </div>
    </div>

</div>
