<div class="body">
  <div class="processedDocuments">
    <p>Processed Document List</p>
    <div class="tableWrapper">
      <table>
        <thead>
          <tr>
            <th class="dossierId">Dossier Identification</th>
            <th class="documentType">Document Type</th>
            <th class="status">Status</th>
            <th class="dateAndTime">Date and Time</th>
            <th class="result">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="dossierId">VALUEEEEEEE</td>
            <td class="documentType"> formA</td>
            <td class="status"> approved</td>
            <td class="dateAndTime"> YYYY/MM/DD</td>
            <td class="result"> <button>view</button></td>
          </tr>
          <tr>
            <td class="dossierId">VALUEEEEEEE</td>
            <td class="documentType"> formA</td>
            <td class="status"> approved</td>
            <td class="dateAndTime"> YYYY/MM/DD</td>
            <td class="result"> <button>view</button></td>
          </tr>
          <tr>
            <td class="dossierId">VALUEEEEEEE</td>
            <td class="documentType"> formA</td>
            <td class="status"> approved</td>
            <td class="dateAndTime"> YYYY/MM/DD</td>
            <td class="result"> <button>view</button></td>
          </tr>
          <tr>
            <td class="dossierId">VALUEEEEEEE</td>
            <td class="documentType"> formA</td>
            <td class="status"> approved</td>
            <td class="dateAndTime"> YYYY/MM/DD</td>
            <td class="result"> <button>view</button></td>
          </tr>
          <tr>
            <td class="dossierId">VALUEEEEEEE</td>
            <td class="documentType"> formA</td>
            <td class="status"> approved</td>
            <td class="dateAndTime"> YYYY/MM/DD</td>
            <td class="result"> <button>view</button></td>
          </tr>
          <tr>
            <td class="dossierId">VALUEEEEEEE</td>
            <td class="documentType"> formA</td>
            <td class="status"> approved</td>
            <td class="dateAndTime"> YYYY/MM/DD</td>
            <td class="result"> <button>view</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
