.bodyDiv{
  padding: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: initial;
  height: 90vh;
}
.button{
  padding: 5px;
}
.buttonsDiv{
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
