.bodyDiv{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(#EBEBEB);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headerDiv{
  height: auto;
  width: 80vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(#EBEBEB);
  border: 1px solid rgb(193, 193,193);
  border-radius: 0;
  margin-bottom: 20px;
  align-items: center;
}

.contentContainer{
  height: auto;
  width: 80vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(#EBEBEB);
  border: 1px solid rgb(193, 193,193);
  border-radius: 0;
  flex-direction: column;
}
.upload{
  display:flex;
}
.dossier{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.button{
  width: 50%;
  border-radius: 0;
  border: 1px solid rgb(193, 193,193);
}
.dossierInputText{
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 1px solid rgb(193, 193,193);
}
.search{
  width: 99%;
  margin: 0px;
  padding: 0px;
  border-radius: 0;
  border: 1px solid rgb(193, 193,193);
}
.docType{
  width: 30%;
}
.middleTd{
  width: 40%;
}

td{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align:right
}
.dataExist{
  width: 10px;
  border: 1px solid rgb(193, 193,193);
}


.modal-file{
  border-radius: 0 !important;
}

.modal-result{
  border-radius: 0 !important;
}

.headerTdDiv{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.headerTr{
  vertical-align: baseline;
}
.headerTd{
  margin: 0;
  padding: 0;
}

tr {
  display: table-row !important; /* Garante o comportamento padrão */
}
.headerTable{
  border-collapse: collapse;
}
