<div class="bodyDiv">
  <div class="contentContainer">
    <table>
      <tr>
        <td><label for="dossierId" class="docType">Dossier identification</label></td>
        <td class="middleTd"><input type="text" class="dossierInputText " id="dossierId"/></td>
        <td><button class="search">Search </button></td>
      </tr>
      <tr>
        <td class="docType">Upload Form A or B</td>
        <td class="middleTd"><button class="button">File</button> <button class="button">Result</button></td>
        <td>Status: Pending</td>
      </tr>
      <tr>
        <td class="docType">Upload Vehicle Registration</td>
        <td class="middleTd"><button class="button">File</button> <button class="button">Result</button></td>
        <td>Status: Pending</td>
      </tr>
      <tr>
        <td class="docType">Upload Invoice</td>
        <td class="middleTd"><button class="button">File</button> <button class="button">Result</button></td>
        <td>Status: Pending</td>
      </tr>
      <tr>
        <td class="docType">Upload Complaint Document</td>
        <td class="middleTd"><button class="button">File</button> <button class="button">Result</button></td>
        <td>Status: Pending</td>
      </tr>
    </table>
  </div>
</div>
