.bodyDiv{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(#EBEBEB);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentContainer{
  height: auto;
  width: 80vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(#EBEBEB);
  border: 1px solid rgb(193, 193,193);
  border-radius: 0;
  flex-direction: column;
  align-items: center;
}
.modal-file{
  border-radius: 0 !important;
}

.modal-result{
  border-radius: 0 !important;
}
